<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Socket.IO chat</title>
    <style>
      body { margin: 0; padding-bottom: 3rem; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;background-color:rgb(40, 0, 0) }

      #form { background: lightseagreen; padding: 0.25rem; position: fixed; bottom: 100px; left: 0; right: 0; display: flex; height: 7rem; box-sizing: border-box; backdrop-filter: blur(10px); }
      #input { border: none; padding: 0 1rem; flex-grow: 1; border-radius: 2rem; margin: 0.25rem;font-size:20px }
      #input:focus { outline: none; }
      #form > button { background: lightcoral; border: none; padding: 0 3rem; margin: 0.25rem; border-radius: 3px; outline: none; color: olivedrab;cursor: pointer;font-size: xx-large; }

      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages > li { padding: 0.5rem 1rem; }
      #messages > li:nth-child(odd) { background: #efefef; }
    </style>
  </head>
  <body>
    <ul id="messages"></ul>
    <form id="form" action="">
      <input id="input" autocomplete="off" /><button>Send</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script>



      const socket = io();


      const form = document.querySelector("#form");
      const input = document.querySelector("#input");
      const messages = document.querySelector("#messages");

      form.addEventListener('submit',(evt)=>{
        evt.preventDefault();
        if(input.value){
          socket.emit("chat_message",input.value);
          input.value = "";
        }
      });

      socket.on("chat_message",(msg)=>{
        const item = document.createElement('li');
        item.style.color = "orange";
        item.textContent = msg;
        messages.appendChild(item);
        window.scrollTo(0,document.body.scrollHeight);
      })
    </script>

  </body>
</html>